<div class="kebab-footer">
  <div class="logo2">
    <img src="assets/kebab1.png" alt="" />
  </div>
  <p class="underlined">Регламент|</p>
  <p class="underlined">Политика|</p>
  <p class="underlined">Условия соглашения|</p>
</div>
<div class="flex-test">
  <div class="product">
    <div class="product-description image"></div>
    <div class="product-description product-name">
      <span>Devis kebab</span>
    </div>
    <div class="product-description product-price">
      <span>20 zl</span>
    </div>
  </div>

  <div class="product">
    <div class="product-description"></div>
    <div class="product-description"></div>
    <div class="product-description"></div>
  </div>
  <div class="product">
    <div class="product-description"></div>
    <div class="product-description"></div>
    <div class="product-description"></div>
  </div>
</div>
