.kebab-footer {
  height: 100px;
  width: 100%;
  margin-bottom: 100px;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.logo2 {
  img {
    width: 50px;
    margin-left: 20px;
    order: 2;
    margin-top: 30px;
  }
}
.underlined {
  text-decoration: underline;
  color: blue;
  margin-left: 0px;
  margin-top: 30px;
}
.flex-test {
  width: 100%;

  background: rgb(0, 255, 85);
  display: flex;
  gap: 10px;

  padding: 20px;
  flex-direction: column;
  .product {
    width: 150px;
    // height: 100px;
    background-color: rgb(6, 36, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 30px;
    .product-description {
      // width: 30px;
      // height: 30px;
      background-color: rgb(5, 0, 36);
      padding: 10px;
    }
    .product-name {
      color: green;
    }
    .product-price {
      color: rgb(124, 0, 128);
    }
  }
}
.product-card {
  width: 100%;
  display: flex;
  gap: 10px;
  background: rgb(117, 29, 189);
  padding: 20px;
  flex-direction: column;
  .product2 {
    width: 150px;
    // height: 100px;
    background-color: rgb(6, 36, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 30px;
    .product-description {
      // width: 150px;
      // height: 30px;
      background-color: rgb(55, 30, 219);
      padding: 10px;
    }
  }
  .image {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
