<div class="kebab-footer">
  <div class="kebab-logo">
    <div class="logo2">
      <img src="assets/kebab1.png" alt="Kebab Logo" />
    </div>
    <div class="kebab-logo-name">
      <span>BerlinDonerKebab</span>
    </div>
  </div>

  <div class="footer-links">
    <span><a href="kebab-text1">Регламент</a></span>
    <span class="divider">|</span>
    <span><a href="kebab-text1">Политика</a></span>
    <span class="divider">|</span>
    <span><a href="kebab-text1">Условия и соглашения</a></span>
  </div>
</div>
