<app-kebab-creation-form></app-kebab-creation-form>

<div class="kebab-page">
  <div class="left-side">
    <div class="product-card">
      <div class="product2" *ngFor="let yourOwnName of kebabList">
        <div class="product-description image">
          <img [src]="yourOwnName.image" [alt]="yourOwnName.name" />
        </div>
        <div class="product-description product-name">
          <span>{{ yourOwnName.name }}</span>
        </div>
        <div class="product-description product-price">
          <span>{{ yourOwnName.price }}{{yourOwnName.currency}}</span>
        </div>
        <div class="product-description product-ingridients">
          <span class="product-ingridients__name">Ingredients:</span>
          <span
            class="product-ingridients__value"
            *ngFor="let ingridient of yourOwnName.ingredients "
          >
            {{ingridient}}
          </span>
        </div>
        <div class="product-description product-nutritions">
          <div class="product-nutritions__el">
            <span>Calories:</span>
            <span>{{ yourOwnName.nutrition.calories }}</span>
          </div>
          <div class="product-nutritions__el">
            <span>Fat:</span>
            <span>{{ yourOwnName.nutrition.fat }}</span>
          </div>
        </div>

        <!-- <div class="product-description product-meet">
          <span>{{ yourOwnName.meet }}</span>
        </div>
        <div class="product-description product-weight">
          <span>{{ yourOwnName.weight }}</span>
        </div>
        <div class="product-description product-sause">
          <span>{{ yourOwnName.sause }}</span>
        </div> -->
        <div class="product-description card">
          <button class="add-to-card" (click)="openProduct(yourOwnName)">
            OPEN PRODUCT
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="big-product-card">
      <div class="product2">
        <div class="product-description image">
          <img
            [src]="homeWorkKebabElement.image"
            alt="{{ homeWorkKebabElement.name }}"
          />
        </div>
        <div class="product-description product-name">
          <span>{{ homeWorkKebabElement.name }}</span>
        </div>
        <div class="product-description product-price">
          <span>{{ homeWorkKebabElement.price }}</span>
        </div>
        <div class="product-description">
          <span><b>meat:</b> {{ homeWorkKebabElement.meat }}</span>
        </div>
        <div class="product-description">
          <span><b>weight:</b> {{ homeWorkKebabElement.weight }}</span>
        </div>
        <div class="product-description">
          <span><b>sause:</b> {{ homeWorkKebabElement.sause }}</span>
        </div>
        <div class="product-description card">
          <button class="add-to-card" (click)="addToCard(homeWorkKebabElement)">
            ACCEPT
          </button>
          <button *ngIf="cart[homeWorkKebabElement.name]" class="cart-counter">
            {{ cart[homeWorkKebabElement.name] }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="kebab-footer">
  <div class="kebab-logo">
    <div class="logo2">
      <img src="assets/kebab1.png" alt="Kebab Logo" />
    </div>
    <div class="kebab-logo-name">
      <span>BerlinDonerKebab</span>
    </div>
  </div>

  <div class="footer-links">
    <span><a href="kebab-text1">Регламент</a></span>
    <span class="divider">|</span>
    <span><a href="kebab-text1">Политика</a></span>
    <span class="divider">|</span>
    <span><a href="kebab-text1">Условия и соглашения</a></span>
  </div>
</div>
<button mat-raised-button color="primary">Basic</button>
<button mat-button>Basic</button>
