<!-- // Header -->
<h1 mat-dialog-title>Kebab creation form</h1>

<!-- // Content -->
<div mat-dialog-content>
  <form class="kebab-form" [formGroup]="createKebabForm">
    <div class="form-content">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab Id</mat-label>
        <input matInput type="text" formControlName="id" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab name</mat-label>
        <input matInput type="text" formControlName="name" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="allergens" currency>
          @for (curency of currencyList; track curency) {
          <mat-option [value]="curency">{{ curency }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab price</mat-label>
        <input matInput type="text" formControlName="price" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab sauce</mat-label>
        <input matInput type="text" formControlName="sause" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab size</mat-label>
        <input matInput type="text" formControlName="size" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab weight</mat-label>
        <input matInput type="text" formControlName="weight" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ingredients - Lamb</mat-label>
        <mat-select formControlName="ingredients" multiple>
          @for (ingredient of kebabIngredientsList; track ingredient) {
          <mat-option [value]="ingredient">{{ ingredient }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Allergens - Chicken</mat-label>
        <mat-select formControlName="allergens" multiple>
          @for (allergens of kebabAllergensList; track allergens) {
          <mat-option [value]="allergens">{{ allergens }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>

<!-- // Actions -->
<div mat-dialog-actions>
  <div class="btns-content">
    <button mat-raised-button color="error" (click)="onClear()">Clear</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</div>
