<!-- // Header -->
<h1 mat-dialog-title>Kebab creation form</h1>

<!-- // Content -->
<div mat-dialog-content>
  <form class="kebab-form" [formGroup]="createKebabForm">
    <div class="form-content">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab Id</mat-label>
        <input matInput type="text" formControlName="id" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab name</mat-label>
        <input matInput type="text" formControlName="name" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="allergens" currency>
          @for (curency of currencyList; track curency) {
          <mat-option [value]="curency">{{ curency }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab price</mat-label>
        <input matInput type="text" formControlName="price" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab size</mat-label>
        <input matInput type="text" formControlName="size" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Kebab weight</mat-label>
        <input matInput type="text" formControlName="weight" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ingredients - Lamb</mat-label>
        <mat-select formControlName="ingredients" multiple>
          @for (ingredient of kebabIngredientsList; track ingredient) {
          <mat-option [value]="ingredient">{{ ingredient }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Allergens - Chicken</mat-label>
        <mat-select formControlName="allergens" multiple>
          @for (allergens of kebabAllergensList; track allergens) {
          <mat-option [value]="allergens">{{ allergens }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Sause</mat-label>
        <mat-select formControlName="sause" multiple>
          @for (sause of sauseList; track sause) {
          <mat-option [value]="sause">{{ sause }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nutrition</mat-label>
        <mat-select formControlName="nutrition" multiple>
          @for (nutrition of nutritionList; track nutrition) {
          <mat-option [value]="nutrition">{{ nutrition }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>spicyLevel</mat-label>
        <mat-select formControlName="spicyLevel" multiple>
          @for (spicyLevel of spicyLevelList; track spicyLevel) {
          <mat-option [value]="spicyLevel">{{ spicyLevel }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand" multiple>
          @for (brand of brandList; track brand) {
          <mat-option [value]="brand">{{ brand }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Rating</mat-label>
        <mat-select formControlName="rating" multiple>
          @for (rating of ratingList; track rating) {
          <mat-option [value]="rating">{{ rating }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Calories</mat-label>
        <mat-select formControlName="calories" multiple>
          @for (calories of caloriesList ; track calories) {
          <mat-option [value]="calories">{{ calories }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Vegetarian</mat-label>
        <mat-select formControlName="vegetarian" multiple>
          @for (vegetarian of vegetarianList ; track vegetarian) {
          <mat-option [value]="vegetarian">{{ vegetarian }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fat</mat-label>
        <mat-select formControlName="fat" multiple>
          @for (fat of fatList ; track fat) {
          <mat-option [value]="fat">{{ fat }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<!-- // Actions -->
<div mat-dialog-actions>
  <div class="btns-content">
    <button mat-raised-button color="error" (click)="onClear()">Clear</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  </div>
</div>
