<div class="product-card" *ngIf="basketList.length > 0">
  <div class="product2" *ngFor="let yourOwnName of basketList">
    <div class="product-description image">
      <img [src]="'assets/lamb.jpg'" />
    </div>
    <div class="product-description product-name">
      <span>{{ yourOwnName?.name }}</span>
    </div>
    <div class="product-info">
      <div>
        <p>
          <strong>Price:</strong> {{ yourOwnName?.price }}
          {{ yourOwnName?.currency }}
        </p>
        <p><strong>Weight:</strong> {{ yourOwnName?.weight }}</p>
        <p><strong>Size:</strong> {{ yourOwnName?.size }}</p>
        <p><strong>Sauce:</strong> {{ yourOwnName?.sause }}</p>
        <p><strong>Ingredients:</strong> {{ yourOwnName?.ingridients }}</p>
        <p><strong>Nutritions:</strong> {{ yourOwnName?.nutritions }}</p>
        <p><strong>Brand:</strong> {{ yourOwnName?.brand }}</p>
        <p><strong>Rating:</strong> {{ yourOwnName?.rating }}</p>
        <p><strong>Spicy Level:</strong> {{ yourOwnName?.spicyLevel }}</p>
        <p><strong>Allergens:</strong> {{ yourOwnName?.allergens }}</p>
        <p><strong>Vegetarian:</strong> {{ yourOwnName?.vegetarion }}</p>
        <p><strong>Description:</strong> {{ yourOwnName?.description }}</p>
        <p><strong>Calories:</strong> {{ yourOwnName?.calories }}</p>
        <p><strong>Fat:</strong> {{ yourOwnName?.fat }}</p>
      </div>
    </div>
  </div>
</div>
