.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dfdfdf;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;

  .logo {
    img {
      height: 50px;
    }
  }

  .menu-actions {
    display: flex;
    gap: 20px;

    button {
      height: 28px;
      border: 0;
      border-radius: 8px;
      padding-left: 14px;
      padding-right: 14px;
      background: #503030;
      color: rgb(161, 38, 38);

      &:hover {
        background: white;
        color: black;
      }

      &.custom-login__btn {
        background: white;
        color: black;

        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}

.actions {
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .action-btns {
    display: flex;
    gap: 1rem;
  }

  button {
    height: 28px;
    border: 0;
    border-radius: 8px;
    padding-left: 14px;
    padding-right: 14px;
    background: #000000;
    color: white;

    &:hover {
      background: gray;
      color: black;
    }

    &.custom-login__btn {
      background: white;
      color: black;

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

.user-sections {
  padding: 20px;
  background: gray;
  color: white;
  margin-left: 20px;
  width: 100px;
}

.menu-actions { 
  button{ 
     height: 50px;
    width: 100px;
    background-color: #c41919;
  }
}


  
  
