<div class="menu">
  <div class="logo">
    <img src="assets/apple1.png" alt="" />
  </div>

  <div class="menu-actions">
    <button (click)="showConsoleLog('1000$')">Home</button>
    <button>Contact Us</button>
    <button class="custom-login__btn">Login</button>
    <button (click)="counterFun()">Counter {{ counter }}</button>
  </div>
</div>
<app-vadim-component-1></app-vadim-component-1>
<app-vadim-component-2></app-vadim-component-2>

<div class="actions">
  <div class="action-btns">
    <button (click)="addNewName('Volodymyr')">Add name</button>
    <button>Object function</button>
  </div>
</div>

<!-- <div class="user-sections" *ngFor="let user of userList">
  <div class="user-section__element">
    <span>Name: </span>
    <span>{{ user.name }}</span>
  </div>
  <div class="user-section__element">
    <span>Sername: </span>
    <span>{{ user.sername }}</span>
  </div>
  <div class="user-section__element">
    <span>Age: </span>
    <span>{{ user.age }}</span>
  </div>
  <div class="user-section__element">
    <span>HasWork: </span>
    <span>{{ user.hasWork }}</span>
  </div>
</div>  -->
