.kebab-menu {
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex; //поставить чайлды один за другим//
  border: 1px solid black;
  .kebab-menu__left {
    background-color: rgb(255, 255, 255);
    height: 100%;

    flex: 1;
    align-items: center;
    display: flex;
    gap: 50px;

    span {
      color: rgb(49, 179, 45);
      font-weight: bold;
    }
    .home-btn {
      margin-left: 100px;
      color: rgb(0, 0, 0);
      // font-weight: bold;
    }
    .menu-btn {
      // color: rgb(0, 0, 0);
      // font-weight: bold;
    }
    .cont-btn {
      // color: rgb(0, 0, 0);
      // font-weight: bold;
    }

    .logo {
      img {
        width: 200px;
        margin-left: 20px;
      }
    }
  }
  .kebab-menu__right {
    background-color: rgb(143, 56, 56);
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .logo-2 {
      order: 2;
      margin-right: 20px;
      width: 200px;
      img {
        width: 200px;
        margin-left: 0;
      }
    }
    span {
      order: 1;
      color: green;
      font-weight: bold;
      margin-right: 40px;
    }
    .cont-btn-2 {
      margin-right: 200px;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
    .home-btn-2 {
      margin-left: 0px;
    }
  }
}
