<div class="kebab-menu">
  <div class="kebab-menu__left">
    <div class="logo">
      <img src="assets/berlin-doener.jpg" alt="" />
    </div>
    <span class="home-btn">Home</span>
    <span class="menu-btn">Menu</span>
    <span class="cont-btn">Contact us</span>
  </div>
  <div class="kebab-menu__right">
    <!-- <div class="logo-2">
      <img src="assets/berlin-doener.jpg" alt="" />
    </div>
    <span class="home-btn-2">Home</span>
    <span class="menu-btn-2">Menu</span>
    <span class="cont-btn-2">Contact us</span> -->
    <button>basket</button>
  </div>
</div>
